<h1>Welcome to DEV Community</h1>
<h3>DEV Community is a community of 847,539 amazing developers</h3>

<div class="col-12">

    <a href="/s20jqueryajax4.1_DEV.1/views/registerapple.html"><img style="width: 100px" src="/s20jqueryajax4.1_DEV.1/img/apple.png" alt="">Continue whit Apple</a>
    <a href="/s20jqueryajax4.1_DEV.1/views/registerforem.html"><img style="width: 100px" src="/s20jqueryajax4.1_DEV.1/img/1626797312691.jpg" alt="">Continue whit Forem</a>
    <a href="/s20jqueryajax4.1_DEV.1/views/registergithub.html"><img style="width: 100px" src="/s20jqueryajax4.1_DEV.1/img/githubpng.png" alt="">Continue whit GitHub</a>
    <a href="/s20jqueryajax4.1_DEV.1/views/registertwitter.html"><img style="width: 100px" src="/s20jqueryajax4.1_DEV.1/img/twitter.jpg" alt="">Continue whit Twitter</a>
    
    </div>

