<div class="row"> <!-- Body -->

    <section class="col-lg-3 d-none d-lg-block  border border-warning"> <!-- Izquierda -->

        <div class="col">


            <div class="card mb-3">
                <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>


                <div class="p-2">
                    <nav>
                        <ul>
                            <li>
                                <a>
                                    <span>svg</span>
                                    "Home"
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span>svg</span>
                                    "Reading List"
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span>svg</span>
                                    "Listing"
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span>svg</span>
                                    "Podcast"
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span>svg</span>
                                    "Video"
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span>svg</span>
                                    "Tags"
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span>svg</span>
                                    "FAQ"
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span>svg</span>
                                    "DEV Shop"
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span>svg</span>
                                    "Sponsors"
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span>svg</span>
                                    "About"
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span>svg</span>
                                    "Contact"
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <nav>
                            <h2>Other</h2>
                        <ul>
                            <li>
                                <a><span>svg</span>"code of conduct"</a>
                            </li>
                            <li>	
                                <a><span>svg</span>"Privacy Policy"</a>
                            </li>
                            <li>	
                                <a><span>svg</span>"Term of use"</a>
                            </li>
                        </ul>
                    </nav>
                    <div>
                        <a>svg<title>"Twitter"</title><path></path></a>
                        <a>svg<title>"Facebook"</title><path></path></a>
                        <a>svg<title>"Git"</title><path></path></a>
                        <a>svg<title>"Instagram"</title><path></path></a>
                        <a>svg<title>"twitch"</title><path></path></a>		
                    </div>
                </div>

            

        </div>

    <section class="col">
        <h2>My tags</h2>
        <a href="">svg</a>
    </section>

    <div class="col">
        <p><a href=""><img src="" alt=""></a></p>
        <h3>
            <a href="">A Book for Junior Devs </a>
        </h3>
    </div>

    <div class="col">
        <p>DEV runs on 100% open source code known as 
        <a href="">Forem</a>"."</p>
        <p>Contribute to the codebase or host your own!</p>
        <strong>Check these out! 👇</strong>
        <li>
            ::marker
            <a href="">Main Forem Repo</a>
        </li>
        <li>
            ::marker
        <a href="">Self-Host Instructions</a>
        </li>
    </div>


    </section> <!-- Izquierda -->

    <section class="col-lg-6 d-lg-block border border-warning"> <!-- Central -->
        <div class="col">


            <div class="post-wrapper"></div>


        </div>
    </section> <!-- Central -->

    <section class="col-lg-3 d-none d-lg-block  border border-warning"> <!-- Derecha -->
        <div class="col">


            <div class="post-wrapper-short"></div>             

        </div>

    <section class="col">
        <h2>My tags</h2>
        <a href="">svg</a>
    </section>

    <div class="card mb-3">
        <p><a href=""><img src="" alt=""></a></p>
        <h3>
            <a href="">A Book for Junior Devs </a>
        </h3>
    </div>

    <div class="card mb-3">
        <p>DEV runs on 100% open source code known as 
        <a href="">Forem</a>"."</p>
        <p>Contribute to the codebase or host your own!</p>
        <strong>Check these out! 👇</strong>
        <li>
            ::marker
            <a href="">Main Forem Repo</a>
        </li>
        <li>
            ::marker
        <a href="">Self-Host Instructions</a>
        </li>
    </div>


    </section> <!-- Derecha -->

</div>